*{
	font-family: Arial;
}

h1{
	font-size: 25px;
	color:brown;
}

ol{
	list-style-type: lower-roman;
	list-style-type: upper-latin;
	list-style-type: decimal;
}

ul{
	width:400px;
}

ul li{
	margin: 10px;
	/* list-style-position: inside; */
	list-style-position: outside;
}

ul.singkat{
	list-style: inside circle;
}