* {
	font-family: Arial, Helvetica, sans-serif;
}

.dekor {
	width:fit-content;
	height:fit-content;
	border: 5px solid;
	padding: 20px;
	padding-right:50px;
}

.margin-1 {
	/* semua sisi */
	margin: 5px;
}

.margin-2 {
	margin: 10px 20px;
}

.margin-3 {
	margin: 10px auto 50px;
}

.margin-4 {
	/* margin: 10px 20px 40px auto; */
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-left: auto;
}

/* 
geser nilai di bagian kanan aja
margin-right: 20px;
*/