body{
	font-family: Verdana;
	color: #223311;
}

table{
	width:600px;
	/* border-spacing:10px; */
	border-collapse:collapse;
}

th,td{
	padding: 7px 10px 10px 10px;
}

th{
	border-top: 1px solid darkorange;
	border-bottom: 2px solid black;
	text-align: left;
	font-size: 80%;
}

tr.genap{
	background-color:#efefef;
}

tr:hover{
	background-color:darkseagreen;
}

